@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

$mobile: 375px;
$desktop: 1430px;

$font-size: 16px;
$font-family: "Nunito Sans", sans-serif;

$default-border-radius: 7px;

// $primary: #2ab2af;
// $primary-light: #5ad8d6;
// $secondary: #c0df34;
// $light-gray: #e5eff5;
// $grayish-blue: #98a6bd;
// $white: #fff;

// for color levels like text-secondary-9
// $color-levels: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9;

// $colors: (
//   "primary": $primary,
//   "primary-light": $primary-light,
//   "secondary": $secondary,
//   "light-gray": $light-gray,
//   "grayish-blue": $grayish-blue,
//   "white": $white,
// );

// for width and height percentage like w-70
// $sizes: 10, 20, 30, 35, 36, 37, 38, 39, 40, 50, 60, 65, 70, 80, 90, 100;
